<style>
  @import url(http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);
</style>
<style>
  .done{
    text-decoration: line-through;
    color : #999999;
  }
</style>
<style>
  google-chart {
    height: 300px;
    width: 400px;
  }
</style>

<script>src="http://googlewebcomponents.github.io/google-chart/components/webcomponentsjs/webcomponents.min.js"</script>
<link rel="import" href="http://googlewebcomponents.github.io/google-chart/components/google-chart/google-chart.html">

<div *ng-for="#todo of todoStore.todos">
  <input type="checkbox" [checked]="todo.done" (click)="toggleToDoState(todo)"/>
  <span [class.done]="todo.done">{{todo.text}}</span>
</div>

<google-chart
  type='geo'
  data='[["Country", "Popularity"],
         ["Germany", 200],
         ["United States", 300],
         ["Brazil", 400],
         ["Canada", 500],
         ["France", 600],
         ["RU", 700]]'>
</google-chart>
