<style>
  google-chart {
    height: 300px;
    width: 400px;
  }
</style>

<script>src="http://googlewebcomponents.github.io/google-chart/components/webcomponentsjs/webcomponents.min.js"</script>
<link rel="import" href="http://googlewebcomponents.github.io/google-chart/components/google-chart/google-chart.html">

Place: {{place}}<br/>
Decade: {{decade}}<br/>
Direction: {{direction}}<br/>
Options: {{options | json}}<br/>
Data: {{data}}<br/>

<google-chart
  type="geo"
  [options]="options"
  [data]="data">
</google-chart>
<!-- google-chart documentation claims that drawChart() is called whenever the attributes change.
     I can't get this to work. I haven't figured out how to call drawChart() manually. -->