<style>
  @import url(http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);
</style>
<style>
  google-chart {
    height: 300px;
    width: 400px;
  }
</style>

<script>src="http://googlewebcomponents.github.io/google-chart/components/webcomponentsjs/webcomponents.min.js"</script>
<link rel="import" href="http://googlewebcomponents.github.io/google-chart/components/google-chart/google-chart.html">

<div class="form-group">
  <label for="place" class="control-label">Place:</label>
  <input #place_input type="text" class="form-control" id="place" placeholder="County, State, Country" autofocus/>
</div> 
<div class="form-group">
  <label for="filter" class="control-label">Filter:</label>
  <input #filter_input type="text" class="form-control" id="filter" placeholder="County, State, Country" autofocus/>
</div> 
<div class="form-group">
  <label for="decade" class="control-label">Decade:</label>
  <input #decade_input type="text" class="form-control" id="decade" placeholder="e.g., 1810"/>
</div>

<!-- 
<div class="form-group">
  <div class="radio">
    <label>
      <input #direction_input type="radio" name="dir" value="in"/>
      Migrations To
    </label>
  </div>
  <div class="radio">
    <label>
      <input #direction_input type="radio" name="dir" value="out"/>
      Migrations From
    </label>
  </div>
</div>
-->

<div class="form-group">
  <button (click)="refresh(place_input.value, filter_input.value, decade_input.value, '')">Go</button>
</div>
<hr/>

Place: {{place}}<br/>
Filter: {{filter}}<br/>
Decade: {{decade}}<br/>
Direction: {{direction}}<br/>
Type: {{type}}<br/>
Options: {{options | json}}<br/>
Data: {{data}}<br/>

<google-chart
  [type]="type"
  [options]="options"
  [data]="data">
</google-chart>
