<style>
  @import url(http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);
</style>
<style>
  .container{
    font-family: 'Open Sans', sans-serif;
      margin-top: 200px;
  }
  .bottom-offset{
    margin-bottom: 20px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="bottom-offset">
        <search-form></search-form>
      </div>
      <migration-map></migration-map>
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>