<style>
  @import url(http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);
</style>

<!-- <form class="form-horizontal" [control-group]="search"> -->
<form class="form-horizontal" [control-group]="search" action="searchresult.html" method="GET">
  <div class="form-group">
    <label for="place" class="control-label">Place:</label>
    <!-- <input control="place" type="text" class="form-control" id="place" placeholder="County, State" autofocus/> -->
    <input control="place" type="text" class="form-control" id="place" name="place" placeholder="County, State" autofocus/>
  </div> 
  <div class="form-group">
    <label for="decade" class="control-label">Decade:</label>
    <!-- <input control="decade" type="text" class="form-control" id="decade" placeholder="e.g., 1810"/> -->
    <input control="decade" type="text" class="form-control" id="decade" name="decade" placeholder="e.g., 1810"/>
  </div>
  <div class="form-group">
    <div class="radio">
      <label>
        <input control="direction" type="radio" name="dir" value="in"/>
        Migrations To
      </label>
    </div>
    <div class="radio">
      <label>
        <input control="direction" type="radio" name="dir" value="out"/>
        Migrations From
      </label>
    </div>
  </div>
  <div class="form-group">
    <!-- <button (click)="add()">Go</button> -->
    <button type="submit">Go</button>
  </div>
</form>
